.example-spacer {
    flex: 1 1 auto;
  }
  table {
    /* margin: 0 5rem 0 5rem; */
    width: 100%;
  }
  .mat-form-field{
    font-size: 14px;
    width: 100%;
  }
  .container{
    max-width: 1200px;
    margin: 0 auto;
  }
  