<div class="container">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon></mat-icon>
      </button>
      <span>User-Dashboard</span>
      <span class="example-spacer"></span>
     
      <button mat-raised-button color="warn" (click)="openDialog()">Add User</button>
    </mat-toolbar>
  </div>
  

  <div class="container">
    <div style="margin-top: 5rem;">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="firstCtrl">
        <th mat-header-cell *matHeaderCellDef> User Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstCtrl}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="secondCtrl">
        <th mat-header-cell *matHeaderCellDef> User Email </th>
        <td mat-cell *matCellDef="let element"> {{element.secondCtrl}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="thirdCtrl">
        <th mat-header-cell *matHeaderCellDef> Phone Number</th>
        <td mat-cell *matCellDef="let element"> {{element.thirdCtrl}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="fourthCtrl">
        <th mat-header-cell *matHeaderCellDef> DOB </th>
        <td mat-cell *matCellDef="let element"> {{element.fourthCtrl}} </td>
      </ng-container>
      <ng-container matColumnDef="fiveCtrl">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.fiveCtrl}} </td>
      </ng-container>
     
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-raised-button color="primary" (click)="editData(row)">
            Update</button> </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
</div>
  
