
<!-- <mat-toolbar  color="link" class="app-header">
  <div class="font"> <a mat-button  routerLink="login" routerLinkActive="active">Landing page</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button  routerLink="register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar>-->

<router-outlet></router-outlet>
<!-- <a  routerLink="user" routerLinkActive="active">
  <app-user></app-user> 
</a>
<a routerLink="admin" routerLinkActive="active"> <app-admin></app-admin></a> -->


